<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <h1>Create new dinosaur egg</h1>

<!--  What info do we need to create a new dino egg?  -->
<!-- sizeInches, weightKg, dateLaid, dinosaur -->
    <form method="POST">
        Size (inches):
        <input type="number" th:field="${dinoEgg.sizeInches}" />
        <br>
        Weight (kg):
        <input type="number" th:field="${dinoEgg.weightKg}" />
        <br>
        Date laid:
        <input type="date" th:field="${dinoEgg.dateLaid}" />
        <br>
<!--    Let's make a dropdown input to allow us to select
        which dino laid the egg-->
        Which dino laid this egg?
        <select th:field="${dinoEgg.dinosaur}">
<!--        Let's use a thymeleaf loop to display all of the
            Dinosaurs from the database as options in this
            dropdown-->
            <option th:each="dino : ${allDinos}"
                    th:value="${dino.id}"
                    th:text="${dino.species}"></option>
        </select>
        <br>
        <button>Create Egg!</button>
    </form>
</body>
</html>